
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Poppins", sans-serif ;
    margin: 0;
    padding: 0;

}


main {
    padding: 20px;
   
    
}

.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-container .card img {

    width: 200px;
    max-width: 200px;
}

.card-container .card {

    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;

    /*          cim dir bai esq cor   */
    box-shadow: 2px 4px 4px 2px rebeccapurple;
    border-radius: 10%;
    background-color: white;
    
}


